<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="menu">
      <a href="{{ url_for('web_route.homepage') }}">Trang chủ</a>
      <a href="{{ url_for('web_route.movie_schedule') }}">Lịch chiếu</a>
      <a href="{{ url_for('web_route.new') }}">Tin tức</a>
      <a href="{{ url_for('web_route.promotion') }}">Khuyến mãi</a>
      <a href="{{ url_for('web_route.price') }}">Giá vé</a>
      <a href="{{ url_for('web_route.film_week') }}"
        >Liên hoan phim, tuần phim</a
      >
      <a href="{{ url_for('web_route.intro') }}">Giới thiệu</a>
      <div class="logout">
        <a href="{{ url_for('web_route.logout') }}" id="logout">Đăng xuất</a>
      </div>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
