{% extends "base.html" %} 

{% block title %} Login {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %} 
    {% if messages %} 
      <h1>{{ messages[0] }}</h1>
    {% endif %}
{% endwith %}

<h1><a href="{{ url_for('web_route.homepage') }}">Tiến tới trang chủ Rạp chiếu phim</a></h1>
{% endblock %}