{% extends "base2.html" %} {% block title %} {% endblock %} {% block content %}
<h1>Giới thiệu</h1>
<div class="wrap">
  <p>
    Trung tâm Chiếu phim Quốc gia (tên giao dịch quốc tế là National Cinema
    Center) là đơn vị sự nghiệp công lập, trực thuộc Bộ Văn hóa, Thể thao và Du
    lịch, có chức năng tổ chức chiếu phim phục vụ các nhiệm vụ chính trị, xã
    hội, hợp tác quốc tế; trưng bày điện ảnh; điều tra xã hội học về nhu cầu
    khán giả để phục vụ cho công tác định hướng phát triển ngành điện ảnh.
  </p>
  <ul>
    <li>Ngày thành lập: 29/12/1997</li>
    <li>Trụ sở: 87 Láng Hạ, Phường Ô Chợ Dừa, Thành phố Hà Nội.</li>
    <li>Website: www.chieuphimquocgia.com.vn</li>
    <li>Email: pdichvuncc@gmail.com</li>
    <li>Số điện thoại: 024.3514 1791 / 024.3514 8647</li>
  </ul>
</div>
{% endblock %}
