<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="menu">
      <a href="{{ url_for('web_route.homepage') }}">Trang chủ</a>
      <a href="{{ url_for('web_route.movie_schedule') }}">Lịch chiếu</a>
      <a href="{{ url_for('web_route.new') }}">Tin tức</a>
      <a href="{{ url_for('web_route.promotion') }}">Khuyến mãi</a>
      <a href="{{ url_for('web_route.price') }}">Giá vé</a>
      <a href="{{ url_for('web_route.film_week') }}"
        >Liên hoan phim, tuần phim</a
      >
      <a href="{{ url_for('web_route.intro') }}">Giới thiệu</a>
      <div class="logout">
        <a href="{{ url_for('web_route.logout') }}" id="logout">Đăng xuất</a>
      </div>
    </div>
    <div class="intro">
      <h1>Phim đang chiếu</h1>
    </div>
    <div class="film_wrap">
      <div class="film film1">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film3">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film2">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film1">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film3">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film2">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film3">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film1">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
      <div class="film film2">
        <div class="img">
          <img src="../static/bg/3.webp" />
        </div>
        <div class="contentFilm">
          <b>Linh trưởng-T18</b>
          <p>Xuất xứ:Mỹ</p>
          <strong>Phim yêu cầu đủ 18 tuổi trở lên</strong> <br />
          <button>10h</button>
          <button>12h</button>
          <button>14h</button>
          <button>16h</button>
        </div>
      </div>
    </div>
  </body>
</html>
