{% extends "base2.html" %} {% block title %} {% endblock %} {% block content %}
<h1>Tin tức</h1>
<div class="new_wrap">
  <div class="new new1">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new2">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new3">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new4">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new4">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new4">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new4">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
  <div class="new new4">
    <div class="img">
      <img src="../static/bg/7.webp" />
    </div>
    <div class="contentNew">
      <p>30/1/2026</p>
      <p><b>Tết 2026, xem phim hay, rinh quà ngay</b></p>
    </div>
  </div>
</div>

{% endblock %}
