{% extends "base2.html" %} {% block title %} {% endblock %} {% block content %}
<h1>Khuyến mãi</h1>
<div class="promotion_wrap">
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
  <div class="pro">
    <div class="img"><img src="../static/bg/8.webp" alt="" /></div>
    <div class="contentpro">
      <p>16/01/2026</p>
      <p class="bigger"><b>Tặng lì xì tết cho mọi khán giả xem phim</b></p>
    </div>
  </div>
</div>
{% endblock %}
